<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>tabibuddy | View Buddies</title>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,800" rel="stylesheet">
    <link rel='stylesheet' href="/stylesheets/top_bar_style.css" />
    <link rel='stylesheet' href="/stylesheets/buddy_search_style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/top_bar.js"></script>
    <script src="/js/buddy_search.js"></script>

  </head>
  <body rel="{{placeID}}">

    {{> top_bar showSearchBar=showSearchBar loggedIn=loggedIn}}

    <div id="filter-by-container">
      <form>
        <h1>Filter By</h1>
      </form>
    
    </div><div id="search-results-container">

      {{#each users}}
        <div class="search-result">
          <div class="user" rel="{{userID}}">
            <div class="user-image-container">
              <img class="user-image" src="{{userImageURL}}">
            </div><div class="username-container">
              <h1 class="username">{{username}}</h1>
            </div>
            {{#each tripImages}}
              <img class="trip-image" src="{{tripImageURL}}">
            {{/each}}
          </div>
        </div>
      {{/each}}

    </div>

  </body>
</html>

