<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>tabibuddy | Edit Trip</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,800" rel="stylesheet">
    <link rel='stylesheet' href="/stylesheets/top_bar_style.css" />
    <link rel='stylesheet' href="/stylesheets/edit_trip_style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/top_bar.js"></script>
    <script src="/js/edit_trip.js"></script>

  </head>
  <body>

    {{> top_bar showSearchBar=showSearchBar loggedIn=loggedIn}}


    <div class="background-container">
      <img src="/images/edit-trip-background.jpg">
    </div>

    <div id="edit-trip-container">

      <div id="edit-trip-content">
        <h1>Edit Trip</h1>

        <form id="edit_trip_form" method="post" action="/edit_trip/{{tripID}}">

          <div class="form-title">Title: </div>
          <input id="title-input" type="text" name="title" placeholder="{{title}}">
          <br><br>

          <div class="form-title">Description: </div>
          <textarea id="descripion-input" form="edit_trip_form" name="description" placeholder="{{description}}"></textarea>
          <br><br>

          <div class="form-title" id="category-input" current="{{category}}">Category: </div>
          <input type="checkbox" name="category" value="Adventure"><span id="category-Adventure" class="category-choices">Adventure</span>
          <input type="checkbox" name="category" value="Food"><span id="category-Food" class="category-choices">Food</span>
          <input type="checkbox" name="category" value="Art"><span id="category-Art" class="category-choices">Art</span>
          <input type="checkbox" name="category" value="History"><span id="category-History" class="category-choices">History</span>
          <br><br>


          <div class="form-title" id="season-input" current="{{season}}">Season: </div>
          <input type="checkbox" name="season" value="Spring"><span id="season-Spring" class="season-choices">Spring</span>
          <input type="checkbox" name="season" value="Summer"><span id="season-Summer" class="season-choices">Summer</span>
          <input type="checkbox" name="season" value="Fall"><span id="season-Fall" class="season-choices">Fall</span>
          <input type="checkbox" name="season" value="Winter"><span id="season-Winter" class="season-choices">Winter</span>
          <br><br>

          <div class="form-title">Duration: </div>
          <input id="duration-input" type="number" min="1" placeholder="{{duration}}" name="duration">
          <span> day(s)</span>
          <br><br>

          <div class="form-title">Budget: </div>
          <span>&#36; </span><input id="budget-input" type="number" min="0" placeholder="{{budget}}" name="budget">
          <br><br>
        </form>

        <div id="save-trip">Save</div>
      </div>
      <div id="edit-trip-form-background">
      </div>
    </div>
  </body>
</html>