<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,800" rel="stylesheet">
    <link rel='stylesheet' href="/stylesheets/top_bar_style.css" />
    <link rel='stylesheet' href="/stylesheets/user_profile_style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/top_bar.js"></script>
    <script src="/js/user_profile.js"></script>
    
  </head>
  <body>
    
    {{> top_bar showSearchBar=showSearchBar loggedIn=loggedIn}}

    <div id="user-info-container">
      <div id="user-info">
        <div id="user-image-container">
          {{#if userIsOwner}}
            <img id="user-image" src="{{userImageURL}}" class="edit-user-image" />
          {{else}}
            <img id="user-image" src="{{userImageURL}}" />
          {{/if}}
        </div>
        <div id="user-description-container">
          <h1 id="user-name">{{username}}</h1>
          {{#if userIsOwner}}
            <div id="user-info-edit-container">
              <img id="user-info-edit" src="/images/edit.png" />
            </div>
          {{/if}}
          <p id="user-description">{{userDescription}}</p>
          <p>Contact: <span id="user-contact">{{userContact}}</span></p>
        </div>
      </div>
    </div>

    <div id="tabs-container">

      <div id="trip-index" class="tab-index active">
        <h1>Trips</h1>
      </div>

      <div id="wishlist-index" class="tab-index inactive"">
        <h1>Wishlist</h1>
      </div>

      <div id="trip-content" class="tab-content active">
        <div id="user-trips-container">
          {{#if userIsOwner}}
            {{#each userTrips}}
              <div class="user-trip">
                <div class="trip" rel="{{tripID}}">
                  <div class="trip-title-container">
                    <h1 class="trip-title">{{tripTitle}}</h1>
                  </div><div class="trip-edit-container">
                    <img class="trip-edit" rel="{{tripID}}" src="/images/edit.png" />
                  </div><div class= "trip-delete-container">
                    <img class="trip-delete" rel="{{tripID}}" src="/images/delete.png" />
                  </div>
                  <img class="trip-image" src="{{imageURL}}">
                  <p class="trip-description text-hidden">{{description}}</p>
                </div>
              </div>
            {{/each}}
              <div class="user-trip">
                <div class="new-trip">
                  <img src="/images/add-trip.png" />
                  <p>Create a New Trip</p>
                </div>
              </div>
          {{else}}
            {{#each userTrips}}
              <div class="user-trip">
                <div class="trip" rel="{{tripID}}">
                  <div class="trip-title-container">
                    <h1 class="trip-title">{{tripTitle}}</h1>
                  </div><div class="trip-like-container">
                    {{#if liked}}
                      <img class="trip-unlike" rel="{{tripID}}" src="/images/unlike.png">
                    {{else}}
                      <img class="trip-like" rel="{{tripID}}" src="/images/like.png">
                    {{/if}}
                  </div>
                  <img class="trip-image" src="{{imageURL}}">
                  <p class="trip-description text-hidden">{{description}}</p>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>
      </div>

      <div id="wishlist-content" class="tab-content inactive">
        <div id="wishlist-trips-container" class="tab-content inactive">
          {{#each wishlistTrips}}
            <div class="wishlist-trip">
              <div class="trip" rel="{{tripID}}">
                <div class="trip-title-container">
                  <h1 class="trip-title">{{tripTitle}}</h1>
                </div><div class="trip-like-container">
                  {{#if liked}}
                    <img class="trip-unlike" rel="{{tripID}}" src="/images/unlike.png">
                  {{else}}
                    <img class="trip-like" rel="{{tripID}}" src="/images/like.png">
                  {{/if}}
                </div>
                <img class="trip-image" src="{{imageURL}}">
                <p class="trip-author" rel="{{userID}}">By {{username}}</p>
                <p class="trip-description text-hidden">{{description}}</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div id="trip-popup-container" class="popup-inactive">
      <div id="background-blur">
      </div>
      <div id="trip-popup-close">
          <img id="trip-popup-close-icon" src="/images/close.png" />
      </div>
      <div id="trip-popup" rel="">
      </div>
    </div>


    {{#if userIsOwner}}
      <div id="background-black" class="dialog popup-inactive">
      </div>

      <div id="info-edit-dialog" title="Edit Profile" class="dialog popup-inactive">
        <form id="info-edit-form" method="post" action="/edit_profile_info/{{userID}}">
          <h1>Edit Profile</h1>
          <p>Introduce yourself:</p>
          <textarea id="edit-user-description" form="info-edit-form" name="new_profile_text"></textarea>
          <p>Your contact:</p>
          <textarea id="edit-user-contact" form="info-edit-form" name="new_profile_contact"></textarea>
          <br><br>
          <button class="close-dialog">Cancel</button>
          <button type="submit">Save</button>
        </form>
      </div>

      <div id="user-photo-edit-dialog" title="Edit Profile Picture" class="dialog popup-inactive">
        <form action="/edit_profile_photo/{{userID}}" method="post" enctype="multipart/form-data">
          <input id="user-photo-upload" type="file" name="new_profile_photo" accept="image/png, image/jpeg"/>
          <button class="close-dialog">Cancel</button>
          <input type="submit" value="Upload" />
        </form>
      </div>

      <div id="delete-confirm-dialog" title="Delete Your Trip" class="dialog popup-inactive">
        <p>Are you sure you want to delete your trip?</p>
        <button class="close-dialog">Cancel</button>
        <button id="delete-confirm" rel="">Confirm</button>
      </div>
    {{/if}}

  </body>
</html>
